{% extends "base.html" %}
{% block content_block %}
<div class="jumbotron" >
  <div style="background-color:white;height:100px">
    <h1 style="margin:auto;">About me</h1>
  </div>
  <p>We are providing here a platform for lost and found items</p>
  <p>we are giving you a lost and found platform for a particular organisation.members of that particular organization can access the information by logging in or registering in in this page.where you find the required lost and found item information or can register new item on it.
    If the lost articles are not claimed within one month, deposited articles at Lost & Found office will be disposed off.</p>
  <h3>HOW IT WORKS?</h3>
    <P>
      1.Register your lost item by giving information on this page<br />
      2.Register if you found any item on this page<br />
      3.IF you lost any thing then check on the web site<br />
      4 given information with admin who report about it given.<br />
      5.you can contact with them and found your thing.
    </P>
</div>
{% endblock %}
